.fa-facebook-square {
  color: #3b5998;
}
.fa-linkedin-square {
  color: #4875b4;
}
.fa-github-square {
  color: lightgrey;
}
.weatherForecast {
  display: flex;
  flex-direction: column;
}
.weatherForecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.iconHover:hover {
  -webkit-animation: heartBeat 1s;
  animation: heartBeat 1s;
  color: red;
}
